MONGO_URI=mongodb+srv://jayeshphale4_db_user:T1P8uLkHJWF8Fb1m@cluster0.dptcofc.mongodb.net/hotel-booking?retryWrites=true&w=majority&appName=Cluster0

PORT=5000

JWT_SECRET=hotelbookingjwtsecret

CLIENT_URL=https://your-frontend.vercel.app

NODE_ENV=production

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=

ETHEREAL_USER=

ETHEREAL_PASS=